<h1>Calculator#calculate</h1>
<p>Find me in app/views/calculator/calculate.html.erb</p>
<h2>Calculation Result</h2>

<p><strong>Result:</strong> <%= @result %></p>

<%= link_to "Back to Calculator", root_path %>
